@font-face {
    font-family: 'NunitoSans-Light';
    src: url('C:/Users/hp/OneDrive/Documents/VSCode/HTML/Assets/Fonts/NunitoSans/NunitoSans-Light.ttf');
}

@property --num1{
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@property --num2{
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@property --num3{
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

html{
    font-family: 'NunitoSans-Light';
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
  
body { 
    background-color: white;
    padding:0;
    margin:0;
}  
  

/*********************************************** Navigation Menu ***********************************************/

.Menu_Button_Container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#Menu_Toggle{
    display: none;
    background-color: pink;
}

/* Defining Hamberger Design */
.Hamberger_Menu,
.Hamberger_Menu::before,
.Hamberger_Menu::after {
  display: block;
  background-color: rgb(246, 0, 225);
  position: absolute;
  height: 4px;
  width: 30px;
  margin-right: 10px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.Hamberger_Menu::before {
    content: '';
    margin-top: -8px;
}
  
.Hamberger_Menu::after {
content: '';
margin-top: 8px;
}

/* Hamberger Rotation Animation */

#Menu_Toggle:checked + .Menu_Button_Container .Hamberger_Menu::before {
margin-top: 0px;
transform: rotate(405deg);
}

#Menu_Toggle:checked + .Menu_Button_Container .Hamberger_Menu {
background: white;
}

#Menu_Toggle:checked + .Menu_Button_Container .Hamberger_Menu::after {
margin-top: 0px;
transform: rotate(-405deg);
}

/* Main Navigation Menu */

#Navigation_menu{
    display: flex;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
      top: 0px;
      left: 0px;
    height: 60px;
    background-color:rgb(255, 255, 255)!important;
    width: 96%;
    padding: 0 2% 0 2%;
    margin: 0;
    z-index:50;
}

#Block1_Nav{
    flex: .25;
    display: flex;
    background-color: transparent;
}

#Logo_Nav{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    vertical-align: middle;
    padding: 12px 5px 5px 5px;
    margin: 5px;
    width: 40px;
    height: auto;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    background-color: rgb(246, 0, 225);
}

#Name_Nav{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    vertical-align: middle;
    background-color: transparent;
    margin: 20px 0 0 0;
    color: black;
}

#Block2_Nav{
    flex: 1;
    width: 100%;
    background-color: transparent;
}
    
#Block2_Nav ul{
    display: flex;
    flex-direction: row-reverse;
    float: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}  

#Block2_Nav ul li{
    display: flex;
    align-items: center;
    float: right;
    list-style-type: none;
    width: auto;
    height: 45px;
    padding: 0 20px 0 20px;
    margin: 9px 0 2px 0;
    border-radius: 5px;
}

#Block2_Nav ul li a{
    background-color: transparent;
    height: auto;
    width: auto;
    vertical-align: text-top;;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    margin: 0;
    padding: 0;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

/* Navigation Menu Animation */

#Block2_Nav ul li a::after{                              /* Adding Underline */
    content:"";
    float:left;
    position: relative;
        top: 0;
        left: 0;
        height: 2px;
        width: 0;
    background-color: white;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
} 

#Block2_Nav ul li:hover{background-color: rgb(246, 0, 225);}                  

.Navigation_menu_parent:hover .Navigation_menu_child{color:white!important;}

#Block2_Nav ul li:nth-child(8)::after{display:none;}
#Block2_Nav ul li:nth-child(8):hover{display:none;}

.Navigation_menu_parent:hover .Navigation_menu_child::after{width: 100%!important;}        /* Stretching Underline */


@media (max-width: 800px) {
    #Navigation_menu{
        overflow: visible;
    }

    .Menu_Button_Container{
        display: flex;
        position: absolute;
          top: 0;
          right: 0;
      }

    #Block2_Nav ul{
        display: flex;
        overflow: hidden;
        flex-direction: column-reverse;
        justify-content: start;
        position: absolute;
          top: 60px;
          left: 0;
        width: 100%; 
        height: 0; 
        background-color: transparent;
    }

    #Block2_Nav ul li{
        width: 91.5%;
        justify-content: center;
        margin: 3px 0 3px 0;
        border: 1px solid rgb(246, 0, 225);
        border-radius: 0;
        box-shadow: 0 5px 10px grey;
        background-color: white;
    }

    #Block2_Nav ul li a{
        color: rgb(246, 0, 225);
    }

    #Menu_Toggle:checked ~ #Block2_Nav ul{
        height: 400px;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      #Menu_Toggle ~ #Block2_Nav ul{
        height: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }


}

/*********************************************** Background ***********************************************/

#Background1{
    position: absolute;
    width: 100%;
      top: 0;
      left: 0;
      z-index: -50;
}

#Background2{
    position: absolute;
    width: 100%;
    height: 100vw;
      top: 0;
      left: 0;
    z-index: -50;
    overflow: hidden;
    background-color: transparent;
}

#Background2 img{
    width: 100%;
    height: auto;
    background-color: transparent;
}

#Background3{
    position: absolute;
    width: 100%;
    height: auto;
      top: 0;
      left: 0;
    z-index: -50;
    background-color: transparent;
}

#Background4{
    position: absolute;
    width: 100%;
    height: 55vw;
      top: 85vw;
    z-index: -50;
    background-color: rgb(231, 231, 231);
}

/*********************************************** Page1 ***********************************************/

#Page1{
    display: table;
    width: 80%;                              /* 80% + 10% left padding + 10% right padding = 100% page width */
    background-color: transparent;
    padding: 10% 10% 8% 10%;
}

#Person_Page1{
    display: table-cell;
    float: right;
    background-color: white;
    width: 20vw;
    height: auto;
    border-radius: 20px;
}

#Para_Page1{
    display: table-cell;
    float: left;
    width: 60%;
    height: auto;
    background-color: transparent;
}

#Para_Page1 h1{
    line-height: .75vw;
    font-size: 4vw;
}

#Para_Page1 p{
    line-height: 1.25vw;
    font-size: 1vw;
    color: grey;
}

#Button_Page1{
    width: 10%;
    height: auto;
    color: rgb(255, 0, 234)!important;
    font-weight: bold;
    background-color: transparent;
    padding: 2%;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 234);
}

#Button_Page1:hover{
    color: white!important;
    background-color: rgb(255, 0, 234);

}

/* Counter */

#Counter_Page1{
    background-color: transparent;
    display: grid; 
    grid:"Counter1    Counter2    Counter3" max-content/
         1fr 1fr 1fr  ;
    column-gap: 5px;
    width: auto;
    height: auto;
    /*justify-content: space-around;*/
    margin: 0;
    padding: 12% 0 0 0;
    /*overflow: hidden;*/
}

#Counter_Page1 div{
    display: grid;
    grid:"Counter Symboll" 1fr
         "Heading Heading" .5fr/
         1.25fr 1fr;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: rgb(255, 219, 236);
    border-radius: 5px;
}

#Counter_Page1 div h1{
    font-size: 20px;
    justify-self: center;
    grid-area: Heading;
    padding: 0;
    font-size: 1.35vw;
    color: grey;
    background-color: transparent;
    
}

#Counter_Page1 div span{
    grid-area: Counter;
    font-size: 40px;
    align-self: center;
    justify-self: right;
    width: auto;
    height: auto;
    font-size: 2.5vw;
    color: rgb(86, 86, 86);
    background-color: transparent;
}

#Counter_Page1 div p{
    grid-area: Symboll;
    font-size: 2vw;
    padding: 0;
    margin: 15% 0 0 5%;
    color: rgb(86, 86, 86);
    background-color: transparent;
}

/* Counter1 */

#Counter_1 span{
    animation: counter1 2s forwards alternate ease-in;
    counter-reset: num1 var(--num1);
    font: 800 40px inherit;
}

#Counter_1 span::after{
    content: counter(num1);
}
  
@keyframes counter1{
from {
    --num1: 0;
}
to {
    --num1: 15;
}}

/* Counter2 */

#Counter_2 span{
    animation: counter2 2s forwards alternate ease-in;
    counter-reset: num2 var(--num2);
    font: 800 40px inherit;
}

#Counter_2 span::after{
    content: counter(num2);
}
  
@keyframes counter2{
from {
    --num2: 0;
}
to {
    --num2: 250;
}}

/* Counter3 */

#Counter_3 span{
    animation: counter3 2s forwards alternate ease-in;
    counter-reset: num3 var(--num3);
    font: 800 40px inherit;
}

#Counter_3 span::after{
    content: counter(num3);
}
  
@keyframes counter3{
from {
    --num3: 0;
}
to {
    --num3: 58;
}}

/*********************************************** Page2 ***********************************************/

#Page2{
    width: 85%;               
    height: auto;
    background-color: transparent;
    padding: 0% 5% 0% 10%;
}

#Page2_Background{
    display: table;
    padding: 8% 5% 8% 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.625);
    background-color: white;
}

#Block1_Page2{
    position: relative;
    display: table-cell;
    float: left;
    background-color: transparent;
}

#Person_Page2{
    width: 20vw;
    height: auto;
    border-radius: 20px;
    background-color: whitesmoke;
}

#Para_Page2{
    display: table-cell;
    float: left;
    width: 60%;
    height: auto;
    margin: 0 0 0 8%;
    padding: 1%;
    background-color: transparent;
}

#Para_Page2 h1{
    font-size: 4vw;
    line-height: .75vw;
}

#Para_Page2 p{
    line-height: 1.25vw;
    font-size: 1vw;
    color: grey;
}

#Buttons_Page2 p{
    display: flex;
    float: left;
    margin: 1% 5% 0 0;
    padding: 2%;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 0, 234)!important;
    border: 2px solid rgb(255, 0, 234);
    background-color: transparent;
}

#Buttons_Page2 p:hover{
    color: white!important;
    background-color: rgb(255, 0, 234);
}

/* Floating Menu */

#Floating_menu{
    display: table;
    position: absolute;
      top: 94%;
      left: 20%;
    padding: 2.5%;
    margin: 0;
    width: 55%;
    box-shadow: 2px 2px 10px grey;
    background-color: white;
}

#Floating_menu a{
    display: table-cell;
    align-self: center;
    justify-self: center;
}

#Floating_menu .fa-brands {
    padding: 5%;
    margin: 2% 1% 2% 1%;
    color: rgb(255, 0, 234);
    width: 10%;
    height: auto;
    text-align: center;
    text-decoration: none;
  }
  

#Floating_menu .fa-brands:hover {
    color: white;
    background-color: rgb(255, 0, 234);
}

/*********************************************** Page3 ***********************************************/

#Page3{
    width: 85%;
    height: 24vw;
    margin: 0;
    padding: 10% 5% 10% 10%;
    background-color: transparent;
}

#Page3_Background{
    display: flex;
    width: auto;
    height: 35vw;
    background-color: transparent;

}

#Para_Page3{
    display: table;
    width: auto;
    height: auto;
    flex: 1;
    float: left;
    padding: 10% 5% 2% 0;
    background-color: transparent;
}

#Para_Page3 h1{
    line-height: .75vw;
    font-size: 4vw;
}

#Para_Page3 p{
    line-height: 1.25vw;
    font-size: 1vw;
    color: grey;
}

#Block1_Page3{
    display: grid;
    position: relative;
    flex: 2;
    grid:"Block1    Block2" 1fr
         "Block3    Block4" 1fr/
           1fr        1fr  ;
    float: left;
    background-color: transparent;
}

#Block1_Page3 div{
    position: absolute;
    margin: 3%;
    padding: 5%;
    width: 70%;
    height: 75%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    background-color: white;

}

#Block1_Page3 div h1{
    position: relative;
    line-height: .75vw;
    font-size: 1.25vw;
      top: 25%;
    font-weight: bolder;

}

#Block1_Page3 div p{
    position: relative;
    line-height: 1.25vw;
    font-size: 1vw;
      top: 30%;
    color: grey;
}

#Block1_Page3 div a{
    position: relative;
    margin: 5% 0 5% 0;
    padding: 6%;
    height: 100%;
    width: auto;
      top: 10%;
    border-radius: 5px;
    background-color: rgb(255, 219, 236);
}

#Block1_Page3 div i{color: rgb(255, 0, 234);}

#Sub-Block1{
    grid-area: Block1;
      top: 0;
      left: 10%;
}

#Sub-Block2{
    grid-area: Block2;
      top: 0;
}

#Sub-Block3{
    grid-area: Block3;
      top: 0;
      left: 10%;
}

#Sub-Block4{
    grid-area: Block4;
      top: 0;
}

#Sub-Block1:hover{
    grid-area: Block1;
      top: -5%;
      left: 5%;
}

#Sub-Block2:hover{
    grid-area: Block1;
      top: -5%;
      left: 95%;
}

#Sub-Block3:hover{
    grid-area: Block1;
      top: 95%;
      left: 7%;
}

#Sub-Block4:hover{
    grid-area: Block1;
      top: 95%;
      left: 95%;
}
